<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/style.css'/>
    <link rel="stylesheet" type="text/css" href="../static/css/style1.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>

<div th:insert="navigation :: navbar"></div>

<div class="container">
    <form action="/addworker" method="post">

        <div class="form-group">
            <label>Name
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter name" name="name" >
            </label>
        </div>

        <div class="form-group">
            <label>Lastname
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter lastname" name="lastname" >
            </label>
        </div>

        <div class="form-group">
            <label>Password
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter password" name="password" >
            </label>
        </div>

        <div class="form-group">
            <label>Post
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter post" name="post" >
            </label>
        </div>

        <div class="form-group">
            <label>Post
                <select class="form-control" name="roles">
                    <th:block th:each="Role : ${ role } ">
                        <option th:value="${Role}" th:utext="${Role}"></option>
                    </th:block>>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label>Post
                <select class="form-control" name="departments">
                    <th:block th:each="Department : ${ department } ">
                        <option th:value="${Department}" th:utext="${Department}"></option>
                    </th:block>>
                </select>
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>