<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset='utf-8'>
    <title>Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/style.css'>
</head>

<body>
<div class="tree">

    <ul >
        <li><a href="#" th:utext="${ 'Генеральный директор <br>' + gen_dir.get(0).name + ' ' + gen_dir.get(0).lastname}"></a>

            <ul>

                <li><a href="#" th:utext="'II директор <br>' + dir_it.get(0).name + ' ' + dir_it.get(0).lastname "></a>
                <ul>

                    <li><a href="#" th:utext=" ' Руководитель IT отдела ' + lead_it.get(0).name + ' ' + lead_it.get(0).lastname "></a>
                        <ul th:each="work : ${ worker_it }">
                            <li><a href="#"  th:utext=""></a></li>
                        </ul>
                    </li>

                </ul>



            </li>

            </ul>
        </li>
    </ul>

</div>
</body>

</html>