<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset='utf-8'>
    <title>Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/css/style.css'/>
    <link rel="stylesheet" type="text/css" href="../static/css/style1.css" />
    <script src="/js/main.js"></script>
    <script>
        function viewDiv(className)
        {
            document.getElementsByClassName("class1")[0].style.display = "block";
            document.getElementsByClassName(className.toString())[0].style.display = "block";
        }
        function notViewDiv(className)
        {
            document.getElementsByClassName(className.toString())[0].style.display = "none";
            document.getElementsByClassName("class1")[0].style.display = "none";
        }
    </script>
</head>

<body>
<div class="tree">

    <ul>
        <li><a href="#" th:utext="${ gen_dir.post + '<br>' + gen_dir.name + ' ' + gen_dir.lastname}"></a>
            <ul>

                <th:block th:each="dir : ${ Dir }">

                    <li><a href="#" th:utext=" ${ dir.post + '<br>' + dir.name + ' ' + dir.lastname } "></a>

                        <th:block th:each="lead : ${ Lead }" th:if="${lead.departments == dir.departments}">

                            <ul>

                                <li ><a href="#" th:utext=" ${ lead.post + '<br>' + lead.name + ' ' + lead.lastname } ">lead</a>

                                    <th:block th:each="worker : ${ Worker }" th:if="${ worker.departments == lead.departments }">
                                        <ul>
                                            <a href="#"
                                               th:attr="onclick=|viewDiv('${ 'div' + worker.id}');|"
                                               th:utext="${ worker.post + '<br>' + worker.name + ' ' + worker.lastname }"></a>
                                        </ul>
                                    </th:block>

                                </li>

                            </ul>

                        </th:block>

                    </li>

                </th:block>

            </ul>
        </li>
    </ul>

</div>

    <th:block th:each="worker : ${ AllWorker }">
        <div class="class1" th:attr="onclick=|notViewDiv('${ 'div' + worker.id}');|">
            <div th:attr="class=|${ 'div' + worker.id} window|">
                <label th:utext="${worker.name + '<br><br>'}"></label>
                <label th:utext="${worker.lastname + '<br><br>'}"></label>
                <label th:utext="${worker.post + '<br><br>'}"></label>
                <label th:utext="${worker.roles + '<br><br>'}"></label>
                <label th:utext="${worker.departments + '<br><br>'}"></label>
            </div>
        </div>
    </th:block>

</body>

</html>


<!--th:href="@{'/delworker/' + ${worker.id} }"-->