<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h4 th:text="${error}"></h4>
</div>

<form method="post">
    <div><label>username: <input type="text" name="username"></label></div>
    <br>
    <div><label>password: <input type="password" name="password"></label></div>
    <br>
    <button type="submit">Sign in</button>
</form>
</body>
</html>